/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    padding: 20px;
}

.glyphicon {
    min-width: 40px;
    min-height: 40px;
    font-size: 40px;
}